/* Tailwind base, components, utilities */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Preline UI */
@import "../../node_modules/preline/variants.css";

/* Preline Themes */
@import "./themes/theme.css";

/* Optional: Your custom styles below */
